@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	min-height: 450px;
	min-width: 265px;
}

.no-scroll::-webkit-scrollbar {
	display: none; /* hrome, Safari and Opera */
}

.no-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@font-face {
	font-family: 'MORRIS';
	src: url('/morris-roman/MorrisRomanBlack.otf');
}

@font-face {
	font-family: 'WASHINGTON';
	src: url('/washington_text/WashingtonText.ttf');
}

.landing-scale-anim {
	animation: scale-in 0.5s ease forwards;
}

@keyframes scale-in {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.fade-in-anim {
	animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
